<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>

<%= form_tag pros_url, :method => "get" do %>

  <%= text_field_tag :keyword %>
  <%= submit_tag "Search" %>

<% end %>

<br>

<% if session[:user_id].present? %>

  <p><%= link_to "Add a New Pro", "/pros/new" %></p>

<% end %>

<ul>

  <% @pros.each do |pro| %>
    <li>
      <%= link_to pro.name, "/pros/#{pro.id}" %>
      <%= link_to "(delete)", "/pros/#{pro.id}", :method => 'delete' %>
    </li>
  <% end %>

</ul>