<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <h1><%= link_to "Golf Stuff", "/" %>

      <small><%= link_to "Ball", '/balls' %></small>
      <small><%= link_to "Driver", '/drivers' %></small>
      <small><%= link_to "Iron", '/irons' %></small>

      <% if cookies["user_id"].present? %>
        <small><%= link_to "Sign Out", "/logout", :method => 'delete' %></small>
      <% else %>
          <small><%= link_to "Sign Up", '/signup' %></small>
          <small><%= link_to "Sign In", '/login' %></small>
      <% end %>

    </h1>

    <% if cookies["user_id"].present? %>
        <h3>Welcome to Jake's Final, <%= User.find_by(id: cookies["user_id"]).email %>!</h3>
    <% end %>

    <% if notice.present? %>
      <div class="alert alert-info"%>
        <%= notice %>
      </div>
    <% end %>


    <%= yield %>

  </div>

</body>
</html>
